<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | Erope</title>
      <link href="style.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>

   <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Microservicios</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link"  href="/timestamp">Timestamp <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/requestHeader">Request Header Parser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/urlShortener">URL Shortener</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exerciseTracker">Exercise Tracker</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1 class="text-success text-center">Timestamp Microservicio</h1>
    <hr/>
    <div class="col ">
      <p class="text-justify">Es un pequeño microservicio que trabaja de la siguiente manera:</p>
      <ol>
        <li class="text-justify">Si se manda una solicitud a <strong>/api/:date?</strong> con una fecha válida devuelve un objeto JSON con una unix-key que es una marca de tiempo de Unix de la fecha de entrada en milisegundos y una utc-key que es una cadena de la fecha de entrada.
        </ul>  
        <li class="text-justify">Si se manda una solicitud a <strong>/api/1451001600000</strong> siendo el segundo parametro un timestamp devuelve el mismo objeto JSON mencionado anteriormente.</li>
      </ol>
    </div>
      
    <div class="container text-center">
      <h4 class="text-center text-success">Examplo de uso:</h4>
      <ul>
        <a href="api/2020-12-25">[base url]/api/2015-12-25</a>
        <br>
        <a href="api/1451001600000">[base url]/api/1451001600000</a>
      </ul>

      <h4 class="text-center text-success">Examplo de respuesta:</h4>
      <p>
        <p>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</p>
      </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
